@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
}

.main-background {
  background: rgb(0, 0, 0);
}

.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.gradient-text {
  background: linear-gradient(45deg, #8e44ad, #34eb8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: clamp(3rem, 8vw, 7rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.text-mobile-title {
  font-size: clamp(4rem, 8vw, 9rem);
  max-width: 100%;
}

.play-icon-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {

  .video-container,
  .play-icon-container {
    width: 100%;
    height: auto;
    max-height: unset;
  }

  .text-9xl {
    font-size: 4rem;
  }
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #00ff00;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}